<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="Shortcut Icon" href="/assets/images/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png"/>
    <link rel="apple-touch-icon" sizes="72x72"
          href="/assets/images/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="114x114"
          href="/assets/images/apple-touch-icon-114x114.png"/>
    <link rel="apple-touch-icon" sizes="144x144"
          href="/assets/images/apple-touch-icon-144x144.png"/>

    <title>Kotlin by Example</title>

    <!-- Bootstrap core CSS -->
    <link href="https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="https://maxcdn.bootstrapcdn.com/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ site.baseurl }}/lib/custom.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="https://unpkg.com/kotlin-runcode@1.0.18/dist/runcode.min.js" data-selector=".language-kotlin"></script>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ site.baseurl }}/">Kotlin by Example</a>
            <button id="nav-button" type="button" class="navbar-toggle collapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div id="working-area" class="row row-offcanvas row-offcanvas-left">
        <div class="col-sm-3 col-md-2 sidebar sidebar-offcanvas">
            <ul class="nav nav-sidebar">
                <li id="overview"><a href="{{ site.baseurl }}/">Overview</a></li>
                {% for example in site.data.examples %}
                <li><a href="{{ site.baseurl }}/examples/{{ example.url }}">{{ example.title }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">{{ page.title }}</h1>
            {{ content }}
        </div>
    </div>

</div>

<footer class="footer">
    <div class="footer-content">
        <a href="https://github.com/kotlinbyexample/kotlinbyexample.github.io">GitHub</a>
        <a href="https://kotlinlang.org">Kotlin</a>
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://unpkg.com/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="https://maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js"></script>
<script src="{{ site.baseurl }}/lib/custom.js"></script>
</body>
</html>
